---
layout: page
title: Projects
icon: flaticon-briefcase69
---

<!-- img src="{{ site.url }}/files/i_love_programming.jpg"></img -->

<!-- <p> For more information about each project, click on its title. </p> -->

<iv class="posts">
  {% for project in site.projects reversed %}
  <div >
  
    <h2 class="post-title">
      <a href="{{ project.url }}">
        {{ project.title }}
      </a>
    {% if project.image_small %}
    <div class="post-image">
      <img src="{{ post.image_small }}">
    </div>
  
{% endif %}

	</h2>
	
    
<!--    <p> {{ project.excerpt}} </p>-->
  </div>
  {% endfor %}
</div>


Last Update in Jan 2017
