---
layout: page
title: Projects
icon: flaticon-briefcase69
---

<!-- img src="{{ site.url }}/files/i_love_programming.jpg"></img -->

<!-- <p> For more information about each project, click on its title. </p> -->

<iv class="posts">
  {% for project in site.projects reversed %}
  <div>

    <h2 class="post-title">
      <a href="{{ project.url }}">
        {{ project.title }}
      </a>
    {% if project.demo != null %}
    {% include youtubePlayer.html id=project.demo %}
    {% elsif project.image_small %}

	 <table width="100%" height="100%" align="center" valign="center">
   <tr><td>
      <img src="{{ project.image_small }}">
   </td></tr>
   </table>



  {% endif %}
    <div class="project_content">
      {{project.short}}
    </div>

	</h2>


<!--    <p> {{ project.excerpt}} </p>-->
  </div>
  {% endfor %}
</div>


Last Update in Jan 2017
