---
layout: page
title: Projects
icon: flaticon-briefcase69
---

<!-- img src="{{ site.url }}/files/i_love_programming.jpg"></img -->

<!-- <p> For more information about each project, click on its title. </p> -->

  <h3>For more information, click on the project title:</h3>
  {% for project in site.projects reversed %}
  <div>

    <h3 class="post-title">
      <a href="{{ project.url }}">
        {{ project.title }}
      </a>
    </h3>
    <div class="row">
    <div class="column">
      {% if project.demo != null %}
      {% include youtubePlayer.html id=project.demo %}
      {% elsif project.image_small %}

	     <table width="100%" height="100%" align="center" valign="center">
       <tr><td>
          <img src="{{ project.image_small }}">
       </td></tr>
       </table>
      {% endif %}
    </div>
    <div class="project_content_s">
      {{project.short}}
    <ul>
      {% if project.code != null %}
        <li><a href="{{ project.code }}"> <i class="flaticon-code27"></i> Source Code on GitHub </a></li>
      {% endif %}

      {% if project.repo != null %}
        <li><a href="https://github.com/{{ site.author.github }}/{{ project.repo }}"> <i class="flaticon-code27"></i> Source Code on GitHub </a></li>
      {% endif %}

      {% if project.doc != null %}
      <li><a href="{{project.doc}}"> <i class="flaticon-documents7"></i> Paper </a></li>
      {% endif %}

    </ul>
    </div>
    </div>
    <div class="box">
    </div>




<!--    <p> {{ project.excerpt}} </p>-->
  </div>
  {% endfor %}
</div>


Last Update in Jan 2017
