.circular img{
    border-radius: 50%;
    margin: 0px auto;
    display: block;

    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.project_content {
    text-align: justify;
}
.project_content_s {
    text-align: justify;
    flex: 50%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 19px;
  padding: 15px;

}
.box {
  margin-bottom: 60px;
}
.project_content {
    text-align: justify;
}
* {
  box-sizing: border-box;
}

.rowt {
    flex: 80%;
}
.row {
  display: flex;
}

.yt {
  position: relative;
  display: block;
  width: 100%; /* width of iframe wrapper */
  height: 0;
  margin: auto;
  padding: 0% 0% 56.25%; /* 16:9 ratio */
  overflow: hidden;
}
.yt iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.img_small{
  width: 400px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 46%;
  padding: 0px;
}
